    <header>
        <h1 class="page-title">Protected Page</h1>
    </header>
    <main>
          <form id="searchForm" action="/test" method="POST">
            <label for="searchTerm" class='head'>Search Courses (eg: CS555)</label>
            <input type="text" name="searchTerm" id="searchTerm" >
            <input class="submit-button" type="submit">
            
        </form>
        <br>
        <p>Welcome to the Group Study Portal, <span class="user-name">{{userData.firstName}}</span>.</p>
        <div class="user-info">
            <img src="../public/images/{{userData.emailAddress}}.jpeg" class="user-image" alt="user-profile-picture"><p>{{userData.firstName}} {{userData.lastName}}</p>
            <p>{{userData.emailAddress}}</p>
            <a href="/logout" class="logout-link">Logout</a>
        </div>
    </main>

    <div class="course-list">
      <h2 class="section-title">Your Courses:</h2>
      <ol>
        {{#each userData.courses}}
          <li>
            <a class="course-review" href="indexx/{{this}}">{{this}}</a></a>


            <form action="/reviews" method="POST">
              <input id="courseIdInput" type="text" name="courseIdInput" value= "{{this}}" style="display: none" />
              <br />
              


              <label for="reviewTextInput">Review Text for {{this}}:</label>
              <textarea
                id="reviewTextInput"
                name="reviewTextInput"
                class="review-textarea"
              ></textarea><br>

              <label for="ratingInput">Ratings for {{this}}:</label>
              <select id="ratingInput" name="ratingInput">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select><br>

              
              <button type="submit">Submit</button>
         

            </form>
        
        
          </li>
        {{/each}}
      </ol>
             {{#if errorReview}}
                    <p> {{errorReview}}</p>
            {{/if}}

          {{#if message}}
        <p> {{message}}</p>
            {{/if}}

        
              
           
    </div>
  {{! <div class="profile-pic">
  <label class="-label" for="file">
    <span class="glyphicon glyphicon-camera"></span>
    <span>Change Image</span>
  </label>
  <input id="file" type="file" onchange="loadFile(event)"/>
</div> }}

  <footer><h2>  protected page  </h2></footer>
  <div id="results"></div>
  <script>
  </script>