{{!--

If the user is logged in , and 'GET /protected' endpoint is called, you will render this view based on the specs.

--}}
<title>Protected Page</title>
<body>
    <header>
        <h1 class="page-title">Protected Page</h1>
    </header>
    <main>
        <p>Welcome to the Group Study Portal, <span class="user-name">{{userData.firstName}}</span>.</p>
        <div class="user-info">
            <img src="../public/images/{{userData.emailAddress}}.jpeg" class="user-image"><p>{{userData.firstName}} {{userData.lastName}}</p>
            <p>{{userData.emailAddress}}</p>
            <a href="/logout" class="logout-link">Logout</a>
        </div>
        <div class="course-list">
            <h2 class="section-title">Your Courses:</h2>
            <ol>
                {{#each userData.courses}}
                <li>
                    <a class="course-link" href="courses/{{this}}">{{this}}</a>
                </li>
                {{/each}}
            </ol>
        </div>
    </main>

    {{!-- <div class="profile-pic">
  <label class="-label" for="file">
    <span class="glyphicon glyphicon-camera"></span>
    <span>Change Image</span>
  </label>
  <input id="file" type="file" onchange="loadFile(event)"/>
</div> --}}
    
    <div>
         

        <img src="../public/images/{{userData.emailAddress}}.jpeg" class="image-class">
        
        <a href="/logout">logout</a>
     </div>

    <footer><h2> protected page </h2></footer>
</body>